<div *ngIf='loading_pokemon || loading_species' id="loading">
	<div class="pokeball" id="normal"></div>
	<div class="pokeball" id="great"></div>
	<div class="pokeball" id="ultra"></div>
	<div class="pokeball" id="master"></div>
	<div class="pokeball" id="safari"></div>
</div>

<div *ngIf="pokemon" class="row pokemon-details">
	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 details-card">
		<span>#{{pokemon.id}}</span>
		<label>{{pokemon.name}}</label>
		<p>Types:</p>
		<ul>
			<li *ngFor="let type of pokemon.types">
				{{type.type.name}}
			</li>
		</ul>
		<div>
			<div *ngFor="let stat of pokemon.stats">
				<label>{{stat.stat.name}}:</label>
				<span>{{stat.base_stat}}</span>
			</div>
		</div>
	</div>
	<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
		<div class="pokemon-sprites">
			<img id="front" class="sprite grow" src="{{pokemon.sprites.front_default}}" alt="front">
			<img id="platform" class="sprite" src="assets/img/fight-platform.png" alt="">
			<!-- <img src="{{pokemon.sprites.back_default}}" alt=""> -->
		</div>
		<div *ngIf="loading_species">
			Loading details...
		</div>
		<div id="panel" *ngIf="species">
			<div id="panel-top">
				<img class="sprite" src="assets/img/panel-top.png" alt="">
			</div>
			<div id="panel-middle">
				<img class="sprite" src="assets/img/panel-middle.png" alt="">
				<p>Wild {{pokemon.name}} appeared!</p><p>{{species.flavor_text_entries[1].flavor_text}}</p>
			</div>
			<div id="panel-bottom">
				<img class="sprite" src="assets/img/panel-bottom.png" alt="">	
			</div>
		</div>
	</div>
</div>
<div *ngIf="species">
	<pokemon-evolutions [evolution_url]="species.evolution_chain.url"></pokemon-evolutions>
</div>