div(*ngIf="loading_evolution") Loading Evolutions...
div.row.evolutions-list(*ngIf="evolution_chain")
	h2.pokefont Evolution Chain!
	div(*ngIf="evolution_chain.length > 1")
		div.col-lg-3.col-md-3.col-sm-4.col-xs-6.pokemon-container(*ngFor="let pokemon of evolution_chain; let last = last")
			a.card.grow([routerLink]="['/pokemon', pokemon.id]")
				span.pokemon-id \#{{pokemon.id}}
				img.sprite(src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemon.id}}.png")
				label {{pokemon.name}}
				label(*ngIf="!last") evolves to &#8594;
				label(*ngIf="last") final form!
	div(*ngIf="evolution_chain.length <= 1")
		div.bg-info No Evolutions