//variables
yellow 	= #ffcb04
blue 	= #3468b0
green 	= #7fad71
red 	= #cd3939
purple 	= #634f88
yellow 	= #f6cd31
blue2 	= #8bacd5
green2 	= #107b6a
brown 	= #5a3918
//fonts
//local urls needs to be absoulte due to bundle
@font-face
    font-family PokemonFont
    src url('../assets/fonts/pokemon_solid.ttf')
    font-weight 400

@font-face
    font-family Munro
    src url('../assets/fonts/munro.ttf')
    font-weight normal

//mixins
style-gen(color)
	background-color color
	border-radius 4px
	border-bottom 4px solid darken(color, 25%)
	border-top 1px solid lighten(color, 20%)
	&:hover
		background-color darken(color, 25%)
	&:active
		background-color darken(color, 50%)
		border-bottom 4px solid darken(color, 50%)
		border-top 1px solid darken(color, 25%)
//styles
body
	background: green url('http://wallpoper.com/images/00/38/40/79/pokemon-clouds_00384079.png') 0 0 no-repeat;    
	// background-size 100%

.developed-by
	margin-top 15px
	font-family PokemonFont
	font-size 18px
	letter-spacing 1px
	margin-left 10px

#loading
	z-index 9999

.pokefont
	color yellow
	font-family PokemonFont
	text-shadow: -8px 1px blue, 3px -3px blue
	
.pokedex
	font-size 60px
	&:hover
		text-decoration none
		color yellow
	&:focus
		text-decoration none
		color yellow

.grow
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	&:hover
    	-webkit-transform: scale(1.1);
    	-moz-transform: scale(1.1);
    	-ms-transform: scale(1.1);
    	-o-transform: scale(1.1);
    	transform: scale(1.1);
	
.sprite
	image-rendering optimizeSpeed             /* STOP SMOOTHING, GIVE ME SPEED  */
	image-rendering -moz-crisp-edges          /* Firefox                        */
	image-rendering -o-crisp-edges            /* Opera                          */
	image-rendering -webkit-optimize-contrast /* Chrome (and eventually Safari) */
	image-rendering pixelated /* Chrome */
	image-rendering optimize-contrast         /* CSS3 Proposed                  */
	-ms-interpolation-mode nearest-neighbor   /* IE8+                        */

.pokemon-list, .evolutions-list
	img
		width 100%

span.pokemon-id
	background-color blue
	border-radius 3px 0 3px 0
	color #fff
	font-family PokemonFont
	left -1px
	letter-spacing 5px
	padding 10px
	position absolute
	top -1px

.card
	background-color #fff
	border 1px solid #eee
	border-radius 3px
	box-shadow 0 10px 8px 0 rgba(0,0,0,0.2)
	display block
	position relative
		
.pokemon-container
	padding 10px !important
	a.card
		text-align center
		transition 0.3s		
		img
			border-bottom 1px solid #eee
		label
			color #000
			cursor pointer
			font-size 16px
			padding 7px 0
			text-transform capitalize
		&:hover
			box-shadow 0 18px 16px 0 rgba(0,0,0,0.2)

.generations-list
	margin 25px 0
	.generation-container
		font-weight bold
		font-size 17px
		margin-top 10px
		padding 10px
		text-align center
		text-transform uppercase
		a
			color #fff
			display block
			padding 10px
			text-shadow 1px 1px 1px #000
			&:hover
				text-decoration none				
	.generation-i
		style-gen(red)
	
	.generation-ii
		style-gen(purple)
	
	.generation-iii
		style-gen(yellow)
	
	.generation-iv
		style-gen(blue2)
		
	.generation-v
		style-gen(green2)
		
	.generation-vi
		style-gen(brown)

.active
	text-decoration underline !important
	
		
.pokemon-sprites
	position relative
	margin 0 auto
	width 50%
	#platform
		bottom 70px
		position absolute
		width 100%
		z-index -1
	#front	
		margin 0 auto
		width 100%
		z-index 1
	
#panel
	#panel-top, #panel-middle, #panel-bottom
		img
			width 100%
	#panel-middle
		position relative
		img
			height 100%
			left 0
			position absolute
			top 0
			z-index -1
		p
			margin 0
			padding 10px 25px
			z-index 1

.pokemon-details
	font-family Munro
	font-size 20px
	letter-spacing 4px
	margin-top 140px

.details-card
	background-color #fff
	border 3px solid #000
	text-transform capitalize

.evolutions-list
	margin-top 25px
	h2
		letter-spacing 3px
	label:last-child
		width 100%